* {
  box-sizing: border-box;
}
.custom-input-container {
  position: relative;
}
.custom-input {
  border-radius: 10px;
  padding: 19.5px;
  width: 100%;
  border: 1px solid #CCCCCC;
}
.custom-input:active, .custom-input:focus {
  outline: none;
}
input:hover, textarea:hover, input:focus, textarea:focus {
  box-shadow: 0 0 0 2px #0F4AB2 inset;
}
.custom-placeholder {
  color: #999999;
  font-style: italic;
  font-size: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  border-radius: 10px;
  pointer-events: none;
  padding: 19.5px;
  transition: 0.3s;
}
.custom-placeholder-focus {
  text-shadow: -1px -1px white,
    0px -1px white,
    1px -1px white,
    1px 0px white,
    1px 1px white,
    0px 1px white,
    -1px 1px white;
  padding: 0 19.5px;
  height: fit-content;
  top: -9px;
  font-size: 14px;
}
.custom-textarea {
  height: 150px;
  resize: none;
}
.custom-placeholder-textarea {
  height: fit-content;
}

@media only screen and (max-width: 850px) {
  .custom-input {
    padding: 15px;
  }
  .custom-placeholder-focus {
    top: -7px;
    font-size: 12px;
  }
  .custom-placeholder {
    font-size: 14px;
  }
}