* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
header, footer, main {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  flex-direction: column;
}
header, footer {
  height: 50px;
  background-color: #333333;
  color: #FFFFFF;
}
footer > .container {
  justify-content: flex-end;
}
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 100%;
}
.main-section {
  padding: 60px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-section:nth-child(odd) {
  background-color: #F0F0F0;
}
.main-section > .container {
  flex-direction: column;
}
.section-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}
.section-caption {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 56px;
  text-align: center;
}
.logo {
  height: 20px;
}
.logo-name {
  margin-left: 7px;
  height: 19.5px;
}
.flex-spacer {
  width: 100%;
}
.header-footer-text {
  white-space: nowrap;
  font-size: 14px;
  margin-left: 30px;
  font-weight: 300;
  font-style: normal;
}
.navigator {
  cursor: pointer;
}
.navigator:hover {
  text-decoration: underline;
}
custom-input {
  width: 100%;
}
custom-input:not(:first-child) {
  margin-left: 30px;
}
.connect-details {
  display: flex;
  width: 100%;
}

/* Card Section */
.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  row-gap: 30px;
  column-gap: 30px;
}
.card-block {
  width: 100%;
  max-width: 380px;
  /* height: 342px;
  max-height: 342px; */
  background-color: #FFFFFF;
  border-radius: 10px;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
  padding: 30px;
  transition: 0.3s;
}
.card-block:hover {
  transform: scale(1.1);
}
.card-block-hidden {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  padding: 0;
}
.card-icon {
  height: 96px;
  margin-bottom: 15px;
}
.card-small-title {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 5px;
}
.card-large-title {
  font-weight: 500;
  font-style: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
.card-details {
  font-size: 16px;
}
/* Card Section */